.header {
    position: relative;
    padding: 5rem;
    &__item {
        display: flex;
        align-items: center;
    }
    #icon-menu {
        display: none;
        @media (max-width:1200px) {
            display: block;
            position: absolute;
            top: 42%;
            right: 0;
        }
    }
}
@media (max-width: 770px) {
    .header {
        padding: 1.0rem 0 0 0;
        margin: auto;
        margin-bottom: 5.0rem;        
    }

}

