$font-base: 'Work Sans', sans-serif;

$transition: .3s all ease-in-out;

$color-dark: #262626;
$color-grey: #575757;
$color-black: black;
$color-white: white;
$color-primary: #8842F0;
$color-secondary: #F9F1FE;

$bg-color: #1C1B1F;

